body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

h1{
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 40px;
}

button{
    background-color: red;
    border: none;
    padding: 10px;
    color: black;
    font-size: large;
    font-weight: bolder;
}

